In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style()
%matplotlib inline

In [12]:
customers = pd.read_excel('Customers.xlsx', index_col='CustomerID')
customers.head()

           CustomerType      CustomerName   CustomerState
CustomerID
2142         Individual  Aarika Adlington  North Carolina
2143         Individual    Aaron Homenick         Indiana
2144         Individual      Abba Handman         Florida
2145         Individual      Abbie Leroux         Florida
2146           Business      Abbott Group         Florida

In [13]:
customers.shape

(2361, 3)

In [16]:
customers.index.nunique()

2361

In [17]:
orders = pd.read_excel('Orders.xlsx')
orders.head()

   OrderNum  OrderDate  OrderType  CustomerID ProductID  Quantity
0   1100948 2017-09-03     Retail        2853     TV810         1
1   1101096 2017-09-24  Wholesale        3557     BP104        10
2   1101138 2017-10-01  Wholesale        4036     DS306         4
3   1101158 2017-10-03     Retail        4377     DS306         1
4   1101181 2017-10-09     Retail        3822     EB507         1

In [18]:
products = pd.read_excel('Products.xlsx')
products.head()

  ProductID ProductCategory                     ProductName  ProductPrice
0     BP101      Blueprints        All Eyes Drone Blueprint          9.99
1     BP102      Blueprints         Bsquare Robot Blueprint          8.99
2     BP104      Blueprints             Cat Robot Blueprint          4.99
3     BP105      Blueprints  Creature Robot Arms Blueprint          12.00
4     BP106      Blueprints      Hexacopter Drone Blueprint          8.99

In [19]:
customer_order = pd.merge(customers, orders, on='CustomerID')

In [20]:
customer_order.head()

,CustomerID,CustomerType,CustomerName,CustomerState,OrderNum,OrderDate,OrderType,ProductID,Quantity
0,2142,Individual,Aarika Adlington,North Carolina,1101870,2018-01-14,Retail,EB506,1
1,2143,Individual,Aaron Homenick,Indiana,1101685,2017-12-18,Retail,DK206,1
2,2144,Individual,Abba Handman,Florida,1101370,2017-11-03,Retail,BP108,1
3,2145,Individual,Abbie Leroux,Florida,1102807,2018-06-05,Retail,DS305,2
4,2146,Business,Abbott Group,Florida,1102408,2018-04-06,Wholesale,BP110,21

In [22]:
orders[orders.groupby('CustomerID').size() > 2]

C:\Users\rtalebiz\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

IndexingError: Unalignable boolean Series provided as indexer (index of the boolean Series and of the indexed object do not match).

In [55]:
big_orders = orders.groupby('CustomerID').size().values > 20
big_orders

array([False, False, False, ..., False, False, False])