In [1]:
from pandas import *
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [ ]:
print(np.arange(10))
plt.plot(np.arange(10))

[0 1 2 3 4 5 6 7 8 9]

In [3]:
def side_by_side(*objs, **kwds):
    from pandas.core.common import adjoin
    space = kwds.get('space', 4)
    reprs = [repr(obj).split('\n') for obj in objs]
    print(adjoin(space, *reprs))
          
plt.rc('figure', figsize=(10,6))

## Series

In [4]:
labels = ['a', 'b', 'c', 'd', 'e']
s = Series(np.random.randn(5), index=labels)
s

a   -0.147379
b   -0.117221
c   -1.009853
d   -0.584918
e    0.133244
dtype: float64

In [5]:
'b' in s

True

In [6]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [7]:
s['b']

-0.11722093451476935

In [8]:
s

a   -0.147379
b   -0.117221
c   -1.009853
d   -0.584918
e    0.133244
dtype: float64

In [9]:
mapping = s.to_dict()
mapping

{'a': -0.14737884301124912,
 'b': -0.11722093451476935,
 'c': -1.009852561998546,
 'd': -0.5849179317948091,
 'e': 0.13324390844590972}

In [10]:
s = Series(mapping, index=['b', 'e', 'a', 'd', 'f'])
s

b   -0.117221
e    0.133244
a   -0.147379
d   -0.584918
f         NaN
dtype: float64

In [11]:
s[notnull(s)]

b   -0.117221
e    0.133244
a   -0.147379
d   -0.584918
dtype: float64

In [12]:
s[:3]

b   -0.117221
e    0.133244
a   -0.147379
dtype: float64

In [13]:
s.dropna()

b   -0.117221
e    0.133244
a   -0.147379
d   -0.584918
dtype: float64

## DataFrame: 2D Collection of Series

In [14]:
df = DataFrame({'a': np.random.randn(6),
                'b': ['foo', 'bar'] * 3,
                'c': np.random.randn(6)})
df

          a    b         c
0 -0.425385  foo  1.261009
1 -0.129870  bar  1.405093
2 -0.135680  foo  0.807068
3  0.008922  bar -1.353053
4  0.225405  foo -0.306423
5  0.798345  bar -1.963267

In [15]:
df['d'] = 5

In [30]:
df.groupby('b')['a'].agg(['min', 'max', 'sum'])

          min       max       sum
b
bar -0.129870  0.798345  0.677397
foo -0.425385  0.225405 -0.335659

In [31]:
pd.DataFrame(
{'x':['a','b']}
, index = [0, 1])

   x
0  a
1  b

In [17]:
df.loc[2,'b']

'foo'

In [18]:
df.at[2, 'b']

'foo'

In [19]:
df.loc[2:4, ['b', 'c']]

     b         c
2  foo  0.807068
3  bar -1.353053
4  foo -0.306423

In [20]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [21]:
df.loc[df['c']>0, ['a', 'b', 'c']]

          a    b         c
0 -0.425385  foo  1.261009
1 -0.129870  bar  1.405093
2 -0.135680  foo  0.807068

In [22]:
df[df['c']> 0]

          a    b         c  d
0 -0.425385  foo  1.261009  5
1 -0.129870  bar  1.405093  5
2 -0.135680  foo  0.807068  5

In [23]:
df[df['c']> 0][['a', 'b', 'c']]

          a    b         c
0 -0.425385  foo  1.261009
1 -0.129870  bar  1.405093
2 -0.135680  foo  0.807068