In [1]:
import numpy as np
import pandas as pd
# importing the model
from sklearn.linear_model import LinearRegression

In [2]:
from sklearn import metrics

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
data = pd.read_csv ("Advertising.csv", index_col=0)

In [5]:
data.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [6]:
data.tail()

        TV  Radio  Newspaper  Sales
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

In [7]:
array_items = ['TV', 'Radio', 'Newspaper'] #creating an array list of the items

In [8]:
X = data[array_items] #choosing a subset of the dataset

In [9]:
y = data.Sales #sales

In [10]:
# dividing X and y into training and testing units

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [12]:
linearreg = LinearRegression() #applying the linear regression model

In [13]:
linearreg.fit(X_train, y_train) #fitting the model to the training data

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
y_predict = linearreg.predict(X_test) #making predictions based on the testing unit

In [15]:
print(np.sqrt(metrics.mean_squared_error(y_test, y_predict))) #calculating the RMSE number

1.4046514230328955

In [16]:
#output gives the RMSE number as 1.4046514230328955