In [1]:
import pandas as pd
import numpy as np

In [45]:
file1 = pd.read_csv('vulcancoin-part1.csv')
file2 = pd.read_csv('vulcancoin-part2.csv')
df = file1.merge(file2, on='date')

In [46]:
file1.head

<bound method NDFrame.head of               date       tx_from tx_to tx_amount  tx_fee
0       11-15-2018  Central Bank    A1    98 VLC     0.0
1       11-16-2018            A1    B4    35 VLC     4.0
2       11-16-2018  Central Bank    C6    64 VLC     0.0
3       11-16-2018            B4    C6    23 VLC     3.0
4       11-16-2018  Central Bank    G8    50 VLC     0.0
...            ...           ...   ...       ...     ...
586309  05-23-2019            K8    A8    62 VLC     8.0
586310  05-23-2019            D5    K2    68 VLC     4.0
586311  05-23-2019            A9    F7   249 VLC    29.0
586312  05-23-2019            H6    B5    45 VLC     5.0
586313  05-23-2019            G6    J8   119 VLC     5.0

[586314 rows x 5 columns]>

In [42]:
file2

              date tx_from tx_to tx_amount  tx_fee
0       05-23-2019      J7    F9    31 VLC     1.0
1       05-23-2019      G3    F9   258 VLC    33.0
2       05-23-2019      H2    D4   265 VLC    29.0
3       05-23-2019      E1    B7    23 VLC     2.0
4       05-23-2019      A7    F9    73 VLC     5.0
...            ...     ...   ...       ...     ...
586310  11-11-2019      B3    C1    44 VLC     NaN
586311  11-11-2019      K1    A8    45 VLC     2.0
586312  11-11-2019      E2    D2    94 VLC     6.0
586313  11-11-2019      H7    K4   333 VLC    39.0
586314  11-11-2019      F9    A5    30 VLC     NaN

[586315 rows x 5 columns]

In [47]:
df.head()

,date,tx_from_x,tx_to_x,tx_amount_x,tx_fee_x,tx_from_y,tx_to_y,tx_amount_y,tx_fee_y
0,05-23-2019,A4,A1,23 VLC,2.0,J7,F9,31 VLC,1.0
1,05-23-2019,A4,A1,23 VLC,2.0,G3,F9,258 VLC,33.0
2,05-23-2019,A4,A1,23 VLC,2.0,H2,D4,265 VLC,29.0
3,05-23-2019,A4,A1,23 VLC,2.0,E1,B7,23 VLC,2.0
4,05-23-2019,A4,A1,23 VLC,2.0,A7,F9,73 VLC,5.0

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93632 entries, 0 to 93631
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         93632 non-null  object
 1   tx_from_x    93632 non-null  object
 2   tx_to_x      93632 non-null  object
 3   tx_amount_x  93632 non-null  object
 4   tx_fee_x     92834 non-null  float64
 5   tx_from_y    93632 non-null  object
 6   tx_to_y      93632 non-null  object
 7   tx_amount_y  93632 non-null  object
 8   tx_fee_y     92224 non-null  float64
dtypes: float64(2), object(7)
memory usage: 7.1+ MB

In [22]:
df['date'] = pd.to_datetime(df['date'])

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 679681 entries, 0 to 679680
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         679681 non-null  datetime64[ns]
 1   tx_from_x    93632 non-null   object
 2   tx_to_x      93632 non-null   object
 3   tx_amount_x  93632 non-null   object
 4   tx_fee_x     92834 non-null   float64
 5   tx_from_y    679681 non-null  object
 6   tx_to_y      679681 non-null  object
 7   tx_amount_y  679681 non-null  object
 8   tx_fee_y     666006 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 51.9+ MB

In [24]:
df['tx_amount'].head()

KeyError: 'tx_amount'

In [25]:
amount = df['tx_amount'].str.split(' ')
#amount = amount[]

KeyError: 'tx_amount'

In [26]:
type(amount)

NameError: name 'amount' is not defined

In [27]:
amount_df = pd.DataFrame(amount)

NameError: name 'amount' is not defined

In [28]:
amount_df['tx_amount'][:0]

NameError: name 'amount_df' is not defined

In [29]:
df['tx_amount'] = df['tx_amount'].astype('float')

KeyError: 'tx_amount'

In [30]:
df.groupby('date')[]

SyntaxError: invalid syntax (<ipython-input-30-987dd0bd72eb>, line 1)

In [34]:
df[df.index == 300000]

,date,tx_from_x,tx_to_x,tx_amount_x,tx_fee_x,tx_from_y,tx_to_y,tx_amount_y,tx_fee_y
300000,2019-07-30,NaN,NaN,NaN,NaN,H1,J6,330 VLC,39.0

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 679681 entries, 0 to 679680
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         679681 non-null  datetime64[ns]
 1   tx_from_x    93632 non-null   object
 2   tx_to_x      93632 non-null   object
 3   tx_amount_x  93632 non-null   object
 4   tx_fee_x     92834 non-null   float64
 5   tx_from_y    679681 non-null  object
 6   tx_to_y      679681 non-null  object
 7   tx_amount_y  679681 non-null  object
 8   tx_fee_y     666006 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(6)
memory usage: 71.9+ MB

In [36]:
df.head()

,date,tx_from_x,tx_to_x,tx_amount_x,tx_fee_x,tx_from_y,tx_to_y,tx_amount_y,tx_fee_y
0,2019-05-23,A4,A1,23 VLC,2.0,J7,F9,31 VLC,1.0
1,2019-05-23,G6,B2,48 VLC,5.0,J7,F9,31 VLC,1.0
2,2019-05-23,B8,G3,91 VLC,5.0,J7,F9,31 VLC,1.0
3,2019-05-23,H1,J6,259 VLC,28.0,J7,F9,31 VLC,1.0
4,2019-05-23,G7,H3,184 VLC,9.0,J7,F9,31 VLC,1.0

In [56]:
df[df['tx_from_x'] == 'Central Bank']['tx_amount_x'].agg({'0':'sum'})

0    76 VLC76 VLC76 VLC76 VLC76 VLC76 VLC76 VLC76 V...
Name: tx_amount_x, dtype: object

In [72]:
central = df[df['tx_from_x'] == 'Central Bank']['tx_amount_x'].str.split(' ')

In [73]:
central

2660      [76, VLC]
2661      [76, VLC]
2662      [76, VLC]
2663      [76, VLC]
2664      [76, VLC]
            ...
92297    [146, VLC]
92298    [146, VLC]
92299    [146, VLC]
92300    [146, VLC]
92301    [146, VLC]
Name: tx_amount_x, Length: 6916, dtype: object