In [1]:
import pandas as pd

In [2]:
categories = pd.read_csv('./Categories.csv')
categories.head(10)

         originalcat  remap
0     Bath > Bathtub    NaN
1  Bath > Bath Towel    NaN
2     Bath > Bathtub    NaN
3  Furniture > Couch    NaN
4  Furniture > Couch    NaN
5  Bath > Bath Towel    NaN

In [3]:
# categories['originalcat'][0]

In [4]:
# categories['originalcat'][0].split()[1] + ' ' + categories['originalcat'][0].split()[2]

In [5]:
len(categories)

6

In [6]:
# for i in range(len(categories)):
#     print(i)
#     for j in range(len(categories['originalcat'][i].split())):
#         print(categories['originalcat'][i].split()[0] + ' > ' + categories['originalcat'][i].split()[-1] + ' > ' + categories['originalcat'][i].split()[-1])

In [7]:
# if categories['originalcat'][1].split()[1] == '>':
#     restOfTheword = '>' + ' ' + categories['originalcat'][1].split()[2] + ' ' + categories['originalcat'][1].split()[3]
#     categories['remap'][1] = categories['originalcat'][1].split()[0] + ' ' + restOfTheword + ' ' + restOfTheword
# print(categories['remap'][1])

In [8]:
# categories['originalcat'][0] + ' ' + categories['originalcat'][0].split()[1] + ' ' + categories['originalcat'][0].split()[2]

In [9]:
# categories['originalcat'][1] + ' ' + categories['originalcat'][1].split()[1] + ' ' + categories['originalcat'][1].split()[2]

In [10]:
# if categories['originalcat'][0].split()[1] == '>':
#     categories['remap'] = categories['originalcat'][0] + ' ' + categories['originalcat'][0].split()[1] + ' ' + categories['originalcat'][0].split()[2]

In [11]:
for i in range(len(categories)):
    if categories['originalcat'][i].split()[1] == '>':
        #restOfTheword = '>' + ' ' + categories['originalcat'][1].split()[j+2] + ' ' + categories['originalcat'][1].split()[j+3]
        categories['remap'][i] = categories['originalcat'][i].split()[0] + ' > ' + categories['originalcat'][i].split()[-1] + ' > ' + categories['originalcat'][i].split()[-1]

C:\Users\atale\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\atale\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [12]:
categories.head(10)

         originalcat                      remap
0     Bath > Bathtub   Bath > Bathtub > Bathtub
1  Bath > Bath Towel       Bath > Towel > Towel
2     Bath > Bathtub   Bath > Bathtub > Bathtub
3  Furniture > Couch  Furniture > Couch > Couch
4  Furniture > Couch  Furniture > Couch > Couch
5  Bath > Bath Towel       Bath > Towel > Towel

In [16]:
categories.drop_duplicates(subset=['originalcat'], inplace=True)

In [17]:
categories.head(10)

         originalcat                      remap
0     Bath > Bathtub   Bath > Bathtub > Bathtub
1  Bath > Bath Towel       Bath > Towel > Towel
3  Furniture > Couch  Furniture > Couch > Couch

In [18]:
#categories.to_csv('./categories_remapped.csv', index=False)