In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

In [3]:
spark

In [14]:
#read the dataset
df_pyspark = spark.read.option('header', 'true').csv('data/marketing_campaign.csv', inferSchema=True)

In [15]:
## check schemas
df_pyspark.printSchema()

root
 |-- ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse: string (nullable = true)

In [16]:
df_pyspark=spark.read.csv('data/marketing_campaign.csv', header=True, inferSchema=True)
df_pyspark.show()

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|                                                                                                                                                                                                                                                                                                                                                                                5524\t1957\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                2174\t1954\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                4141\t1965\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                6182\t1984\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                5324\t1981\tPhD\t...|
|                                                                                                                                                                                                                                                                                                                                                                                7446\t1967\tMaste...|
|                                                                                                                                                                                                                                                                                                                                                                                965\t1971\tGradua...|
|                                                                                                                                                                                                                                                                                                                                                                                6177\t1985\tPhD\t...|
|                                                                                                                                                                                                                                                                                                                                                                                4855\t1974\tPhD\t...|
|                                                                                                                                                                                                                                                                                                                                                                                5899\t1950\tPhD\t...|
|                                                                                                                                                                                                                                                                                                                                                                                1994\t1983\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                387\t1976\tBasic\...|
|                                                                                                                                                                                                                                                                                                                                                                                2125\t1959\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                8180\t1952\tMaste...|
|                                                                                                                                                                                                                                                                                                                                                                                2569\t1987\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                2114\t1946\tPhD\t...|
|                                                                                                                                                                                                                                                                                                                                                                                9736\t1980\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                4939\t1946\tGradu...|
|                                                                                                                                                                                                                                                                                                                                                                                6565\t1949\tMaste...|
|                                                                                                                                                                                                                                                                                                                                                                                2278\t1985\t2n Cy...|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [17]:
df_pyspark.columns

['ID\tYear_Birth\tEducation\tMarital_Status\tIncome\tKidhome\tTeenhome\tDt_Customer\tRecency\tMntWines\tMntFruits\tMntMeatProducts\tMntFishProducts\tMntSweetProducts\tMntGoldProds\tNumDealsPurchases\tNumWebPurchases\tNumCatalogPurchases\tNumStorePurchases\tNumWebVisitsMonth\tAcceptedCmp3\tAcceptedCmp4\tAcceptedCmp5\tAcceptedCmp1\tAcceptedCmp2\tComplain\tZ_CostContact\tZ_Revenue\tResponse']