The movie industry is a mulit-billion dollar industry with many movies being made. In this notebook we are going to see what makes a movie the most money. Using genres, studios, year, and many other stuff from this dataset.

This notebook features:

- Genre
- Year
- Lead studio
- Audience score

Importing necessary libraries:

In [2]:
import numpy as np
import pandas as pd 
import io
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
import matplotlib.animation as animation
import plotly.express as px
%matplotlib inline
import seaborn as sns
import pandas_profiling
from os import path
from PIL import Image
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
from sklearn.preprocessing import StandardScaler, MinMaxScaler, LabelBinarizer
import plotly.graph_objects as go
import plotly.io as pio
pio.templates

import os

In [3]:
df = pd.read_csv('data/HollywoodsMostProfitableStories.csv')
df.head()

,Film,Genre,Lead Studio,Audience score %,Profitability,Rotten Tomatoes %,Worldwide Gross,Year
0,27 Dresses,Comedy,Fox,71.0,5.343622,40.0,160.308654,2008
1,(500) Days of Summer,Comedy,Fox,81.0,8.096000,87.0,60.720000,2009
2,A Dangerous Method,Drama,Independent,89.0,0.448645,79.0,8.972895,2011
3,A Serious Man,Drama,Universal,64.0,4.382857,89.0,30.680000,2009
4,Across the Universe,Romance,Independent,84.0,0.652603,54.0,29.367143,2007