In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/bmw.csv')

### Exploring Data

In [3]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

In [4]:
df.shape

(10781, 9)

In [5]:
df.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64

In [6]:
df.dtypes

model            object
year              int64
price             int64
transmission     object
mileage           int64
fuelType         object
tax               int64
mpg             float64
engineSize      float64
dtype: object

In [7]:
df['transmission'].value_counts()

Semi-Auto    4666
Automatic    3588
Manual       2527
Name: transmission, dtype: int64

In [8]:
df['fuelType'].value_counts()

Diesel      7027
Petrol      3417
Hybrid       298
Other         36
Electric       3
Name: fuelType, dtype: int64

In [9]:
df['model'].value_counts()

 3 Series    2443
 1 Series    1969
 2 Series    1229
 5 Series    1056
 4 Series     995
 X1           804
 X3           551
 X5           468
 X2           288
 X4           179
 M4           125
 6 Series     108
 Z4           108
 7 Series     106
 X6           106
 X7            55
 i3            43
 8 Series      39
 M5            29
 M3            27
 M2            21
 i8            17
 M6             8
 Z3             7
Name: model, dtype: int64

### Visualizing Data

In [10]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(12,10))
# ax = sns.heatmap(df.corr())

In [11]:
# fig = plt.figure(figsize = (20,15))
# ax = fig.gca()
# df.hist(ax=ax)
# plt.show()

### One Hot Encoding

In [12]:
df = pd.get_dummies(data=df, columns=['model', 'transmission', 'fuelType'])

In [13]:
df.shape

(10781, 38)

### Split Data

In [14]:
X = df.drop('price', axis=1)
y = df['price']

In [16]:
X.head()

,year,mileage,tax,mpg,engineSize,model_ 1 Series,model_ 2 Series,model_ 3 Series,model_ 4 Series,model_ 5 Series,...,model_ i3,model_ i8,transmission_Automatic,transmission_Manual,transmission_Semi-Auto,fuelType_Diesel,fuelType_Electric,fuelType_Hybrid,fuelType_Other,fuelType_Petrol
0,2014,67068,125,57.6,2.0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
1,2018,14827,145,42.8,2.0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,2016,62794,160,51.4,3.0,0,0,0,0,1,...,0,0,1,0,0,1,0,0,0,0
3,2017,26676,145,72.4,1.5,1,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0
4,2014,39554,160,50.4,3.0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,0

In [17]:
y.head()

0    11200
1    27000
2    16000
3    12750
4    14500
Name: price, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2)

### First Model - Ridge

In [19]:
from sklearn.metrics import mean_squared_error as MSE
from sklearn.linear_model import Ridge

In [20]:
model_1 = Ridge(alpha=1.0)
model_1.fit(X_train, y_train)

Ridge()

In [21]:
model_1.score(X_test, y_test)

0.8776374120403503