#### Project Description:

In this project, I’ll apply the Python skills I learned to solve a real-world data science problem. Press “watch next episode” to discover if Netflix’s movies are getting shorter over time, using everything from lists and loops to pandas and matplotlib.

I’ll also showcase my experience in an essential data science skill — exploratory data analysis. I'll be performing critical tasks such as manipulating raw data and drawing conclusions from plots created of the data.

##### 1. Loading your friend's data into a dictionary:

In [1]:
#Let’s import Pandas and read the data into a dataframe:
import pandas as pd 
df = pd.read_csv("data/netflix_titles.csv")

In [2]:
#Let’s look at the info():
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB

In [3]:
#df.shape

In [4]:
#Let's take a look at the number of rows in the data:
print("Number of rows:", df.shape[0])
print("Number of columns:", df.shape[1])

Number of rows: 7787
Number of columns: 12

In [5]:
#Let’s look at the first five rows of the data:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

We can see that there are several categorical columns like 'country', 'rating', 'type'. Let’s define a function that takes as input a data frame, column name, and limit. When called, it prints a dictionary of categorical values and how frequently they appear.

In [6]:
def return_counter(data_frame, column_name, limit):
    from collections import Counter
    print(dict(Counter(data_frame[column_name].values).most_common(limit)))
    #print(dict(data_frame[column_name].value_counts(dropna=False)[:limit]))

Let’s apply our function to the ‘country’ column and limit our results to the five most common values.

In [7]:
return_counter(df, 'country', 5)

{'United States': 2555, 'India': 923, nan: 507, 'United Kingdom': 397, 'Japan': 226}

In [8]:
df['country'].value_counts(dropna=False)[:5]

United States     2555
India              923
NaN                507
United Kingdom     397
Japan              226
Name: country, dtype: int64

As we can see, we have 2555 titles in the US, 923 in India, 507 missing country values, 397 in the UK, and 226 in Japan.

Let’s apply our return_counter function to the ‘director’ column, upon dropping missing values:

In [9]:
#df['director'].dropna(inplace=True)
#df['director'].reset_index(drop=True, inplace=True)
return_counter(df, 'director', 5)

{nan: 2389, 'Raúl Campos, Jan Suter': 18, 'Marcus Raboy': 16, 'Jay Karas': 14, 'Cathy Garcia-Molina': 13}

Now, let’s look at the titles from the most common directors ‘Raul Campos’ and ‘Jan Suter’:

In [10]:
top_directors = df[(df['director'] =='Raúl Campos, Jan Suter')]
print(set(top_directors['title']))
#top_directors

{'Jani Dueñas: Grandes fracasos de ayer y hoy', 'Alan Saldaña: Mi vida de pobre', 'Luciano Mellera: Infantiloide', 'Malena Pichot: Estupidez compleja', 'Natalia Valdebenito: El especial', "Ricardo O'Farrill: Abrazo navideño", 'Ricardo Quevedo: Hay gente así', 'Arango y Sanint: Ríase el show', 'Fernando Sanjiao: Hombre', 'Mea Culpa', 'Sofía Niño de Rivera: Exposed', "Ricardo O'Farrill Abrazo Genial", 'Todo lo que sería Lucas Lauriente', 'Daniel Sosa: Sosafado', 'Coco y Raulito: Carrusel de ternura', 'Sebastián Marcelo Wainraich', 'Carlos Ballarta: Furia Ñera', 'Sofía Niño de Rivera: Selección Natural'}

In [11]:
#df[df['director'] == 'Raúl Campos, Jan Suter']

And the countries:

In [12]:
print(set(top_directors['country']))

{'Mexico', 'Colombia', 'Chile', 'Argentina'}

We see that these are titles from Colombia, Chile, Argentina, and Mexico. Let’s do the same for Marcus Raboy:

In [13]:
Marcus_Raboy = df[(df['director'] =='Marcus Raboy')]
print('Marcus Raboy Titles: ', set(Marcus_Raboy['title']))
print('Countries: ', set(Marcus_Raboy['country']))

Marcus Raboy Titles:  {'Taylor Tomlinson: Quarter-Life Crisis', 'Cristela Alonzo: Lower Classy', 'Steve Martin and Martin Short: An Evening You Will Forget for the Rest of Your Life', 'Ryan Hamilton: Happy Face', 'Whitney Cummings: Can I Touch It?', 'Judd Apatow: The Return', 'Dana Carvey: Straight White Male, 60', 'Patton Oswalt: I Love Everything', 'DeRay Davis: How to Act Black', 'Lynne Koplitz: Hormonal Beast', 'Vir Das: Abroad Understanding', 'Vir Das: Losing It', 'Miranda Sings Live…Your Welcome', 'Katt Williams: Kattpacalypse', 'Marlon Wayans: Woke-ish', 'Anthony Jeselnik: Fire in the Maternity Ward'}
Countries:  {nan, 'United States'}

Now we’ll analyze movie durations. First, we need to filter the data set to only include movie titles:

In [14]:
df_movie = df[df['type'] == 'Movie']