In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv')
titles.head()

                                               title  year
0                                    Golden Shackles  1928
1                                         TED Rising  2016
2  Telo kapitana budet predano zemle, a starshiy ...  1998
3                                       Pyar Ki Raat  1998
4                                      City of Tales  2013

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [6]:
len(titles)

244914

In [11]:
titles.title.count()

244914

### What are the earliest two films listed in the titles dataframe?

In [36]:
titles.sort_values('year').head(2)

                    title  year
11707          Miss Jerry  1894
87501  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [37]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [38]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [42]:
titles[titles.title == 'Hamlet'].sort_values('year').head(1)

         title  year
188198  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [43]:
titles[titles.title == 'Treasure Island'].sort_values('year')

                  title  year
89117   Treasure Island  1918
160991  Treasure Island  1920
113232  Treasure Island  1934
219833  Treasure Island  1950
56036   Treasure Island  1972
129293  Treasure Island  1973
104089  Treasure Island  1985
107362  Treasure Island  1999

### How many movies were made in the year 1950?

In [44]:
len(titles[titles.year == 1950])

1113

### How many movies were made in the year 1960?

In [45]:
len(titles[titles.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [46]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [48]:
titles[titles.title == 'Batman']

         title  year
117227  Batman  1943
181944  Batman  1989

### How many roles were there in the movie "Inception"?

In [51]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [52]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.isnull()]
len(c)

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [53]:
c = cast
c = c[c.title == 'Inception']
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [54]:
c = cast
c = c[c.title == 'North by Northwest']
c = c[c.n.notnull()]
c = c.sort_values('n')
c

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branagh’s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were available for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?